:root {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh; /*vertical height*/
}

.summary {
  margin: 0 auto;
  border: 3px solid blanchedalmond;
  height: 400px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inGame{
  display: flex;
  justify-content: center;
}
.inGame div{
  display: inline-flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
}

h3{
  margin: auto;
}
.games {
  display: flex;
  align-items: center;
  width: 400px;
  margin: auto;
  justify-content: space-between;
}

img {
  margin: 10px;
  width: 100px;
  height: 100px;
}

.games img:hover {
  cursor: pointer;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  transform: scale(110%);
}

.inGame img {
  height: 150px;
  width: 150px;
}

.title {
  text-align: center;
}
